/AllPrimeNumbers.class
/Anagram.class
/Anagram1.class
/ArmstronNumber.class
/EvenOdd.class
/Factorial.class
/FibonacciSeries1.class
/FindDivisors.class
/GCD.class
/IndexPowerSum.class
/LCM.class
/MergeTwoArrays.class
/MultiplicationTable.class
/Palindrome.class
/Palindrome1.class
/PrimeNumber.class
/ReverseArray.class
/SimplePrime.class
/StarDiamondPattern.class
/StringReversal.class
/SumOfDigits.class
/SumOfTwoMatrics.class
/_2Sum.class
/loop.class
/sorting.class
