/A.class
/Abstract_VS_Interface.class
/B.class
/Computer.class
/Desktop.class
/Developer.class
/InterfaceExample.class
/Java8FeaturesAndFunctionalInterface.class
/Laptop.class
/X.class
/Y.class
/Z.class
/interfaces.class
