/CargoPlane.class
/CricketPlayer.class
/CustomAnnotationAndRetrievingValueUsingReflectionAPI.class
/DateAndTimeAPI.class
/Demo.class
/Enum$Result.class
/Enum.class
/EnumAndSwitchcase.class
/ForEach.class
/IntroductionToAnnotation.class
/MoreOnEnum.class
/Plane.class
/Result.class
/Result1.class
/StreamAPI.class
/Virat.class
/week.class
